<!DOCTYPE html>
<html>
<head>

   
   
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/666079cfe9.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename='styles.css')}}">
  <title>{% block title %}{% endblock %}</title>
</head>
   <body >
   

    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">ZOO</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav ms-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/"></a>
              </li>
              <li class="nav-item ">
                <a class="nav-link "  href="/the_feed_animal">Feed Animal</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/add_animal">Add Animal</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/delete_animal">Delete Animal</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/all_animal">All Animal</a>
              </li>
             
            </ul>
          </div>
        </div>
      </nav>
     

    <div class="container_fluid">   

        {% block content %}
        {% endblock %}
    </div>

   </body>
</html>